*{
  margin: 5px;
  padding: 0px;
}
.card{
    box-shadow: 0 0 2px;
    padding: auto;
    margin: auto;
}
h1{
    text-align: center;
    margin: 5px ;
  }
  /*page Register*/
  *.auth-wrapper {
     height: 100vh;
     display: flex ;
     align-items: center;
     justify-content: center;
     padding: auto;
  
      }
    .auth-inner{
      width: 460px;    
    }
    .btn-primary{
      background-color: #005555;
      border-color: #005555;
      text-align: center;
      height: 40px;
      width: 100%;
     
    }
    .btn-primary:hover {
      background-color: #2c7979; /* Couleur de fond verte lors du survol */
  }
    
  
    
    .lienRegister a{
      color: black;
      text-decoration: underline;
      text-align: center;
     
      display: block;
    }
    .lienRegister :hover{
      color: #005555;
    }

    p{
      color: black;
    }


    


